<?xml version='1.0' encoding='utf-8'?>
<widget id="no.ntnu.idi.plab.bt-framework" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PLab</name>
    <description>
        A simple app that developed for the course Programming lab at NTNU. It allows the students to easily connect their mobile devices to a bluetooth (android only) or bluetooth 4.0 device and communicate to it through processing.
    </description>
    <author email="plab.idi@gmail.com" href="https://github.com/IDI-PLab/plab-mobile-framework">
        IDI PLab
    </author>
    <author email="halsaune@stud.ntnu.no" href="https://github.com/IDI-PLab/plab-mobile-framework">
        Inge Edward Halsaunet
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <!-- ORIENTATION -->
    <preference name="Orientation" value="portrait" />
    
    <!-- ICONS -->
    <icon src="res/icon/icon-512.png" />
    
    <platform name="android">
              <icon src="res/icon/icon-36-ldpi.png" density="ldpi" />
              <icon src="res/icon/icon-48-mdpi.png" density="mdpi" />
              <icon src="res/icon/icon-72-hdpi.png" density="hdpi" />
              <icon src="res/icon/icon-96-xhdpi.png" density="xhdpi" />
     </platform>
     
    <platform name="ios">
              <!-- iOS 8.0+ -->
              <!-- iPhone 6 Plus  -->
              <!-- <icon src="res/ios/icon-60@3x.png" width="180" height="180" /> -->
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="res/icon/icon-60.png" width="60" height="60" />
              <icon src="res/icon/icon-60-2x.png" width="120" height="120" />
              <!-- iPad -->
              <icon src="res/icon/icon-76.png" width="76" height="76" />
              <icon src="res/icon/icon-76-2x.png" width="152" height="152" />
              <!-- iOS 6.1 -->
              <!-- Spotlight Icon -->
              <!-- <icon src="res/ios/icon-40.png" width="40" height="40" /> -->
              <!-- <icon src="res/ios/icon-40@2x.png" width="80" height="80" /> -->
              <!-- iPhone / iPod Touch -->
              <icon src="res/icon/icon.png" width="57" height="57" />
              <icon src="res/icon/icon-2x.png" width="114" height="114" />
              <!-- iPad -->
              <icon src="res/icon/icon-72.png" width="72" height="72" />
              <icon src="res/icon/icon-72-2x.png" width="144" height="144" />
              <!-- iPhone Spotlight and Settings Icon -->
              <!-- <icon src="res/ios/icon-small.png" width="29" height="29" /> -->
              <!-- <icon src="res/ios/icon-small@2x.png" width="58" height="58" /> -->
              <!-- iPad Spotlight and Settings Icon -->
              <!-- <icon src="res/ios/icon-50.png" width="50" height="50" /> -->
              <!-- <icon src="res/ios/icon-50@2x.png" width="100" height="100" /> -->
     </platform>
     
    <!-- SPLASH -->
    <platform name="android">
	    <!-- you can use any density that exists in the Android project -->
	    <splash src="res/splash/screen-hdpi-landscape.png" density="land-hdpi"/>
	    <splash src="res/splash/screen-ldpi-landscape.png" density="land-ldpi"/>
	    <splash src="res/splash/screen-mdpi-landscape.png" density="land-mdpi"/>
	    <splash src="res/splash/screen-xhdpi-landscape.png" density="land-xhdpi"/>
	
	    <splash src="res/splash/screen-hdpi-portrait.png" density="port-hdpi"/>
	    <splash src="res/splash/screen-ldpi-portrait.png" density="port-ldpi"/>
	    <splash src="res/splash/screen-mdpi-portrait.png" density="port-mdpi"/>
	    <splash src="res/splash/screen-xhdpi-portrait.png" density="port-xhdpi"/>
	</platform>
	
    <platform name="ios">
	    <!-- images are determined by width and height. The following are supported -->
	    <splash src="res/splash/screen-iphone-portrait" width="320" height="480"/>
	    <splash src="res/splash/screen-iphone-portrait-2x" width="640" height="960"/>
	    <!-- <splash src="res/splash/" width="768" height="1024"/> -->
	    <!-- <splash src="res/splash/" width="1536" height="2048"/> -->
	    <!-- <splash src="res/splash/" width="1024" height="768"/> -->
	    <!-- <splash src="res/splash/" width="2048" height="1536"/> -->
	    <splash src="res/splash/screen-iphone-portrait-568h-2x" width="640" height="1136"/>
	    <!-- <splash src="res/splash/" width="750" height="1334"/> -->
	    <!-- <splash src="res/splash/" width="1242" height="2208"/> -->
	    <!-- <splash src="res/splash/" width="2208" height="1242"/> -->
	</platform>
</widget>
