* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* To level out some differences in device size and font size, these queries are added, with default */
body {
	font-size: 150%;
}

@media only screen and (min-width : 480px) {
	.plab {
		font-size: 240%;
	}
}

@media only screen and (min-width : 768px) {
	.plab {
		font-size: 320%;
	}
}

@media only screen and (min-width : 1024px) {
	.plab {
		font-size: 480%;
	}
}
/* ----------------------- MAIN ELEMENT DEFINITIONS ----------------------- */
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.plab {
	background-color: #333333;
	color: #ddeeff;
    text-align: center;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
/* ----------------------- END MAIN ELEMENT DEFINITIONS ----------------------- */
/* ----------------------- MENU DEFINITIONS ----------------------- */
#plab-menu {
	text-align: right;
}
#plab-menu ul {
	text-align: center;
	list-style-type: none;
	margin: 0.5ex 0;
	border-style: solid;
	border-width: medium;
	border-color: #666666;
	display: inline-block;
}
#plab-menu li {
	width: auto;
	height: auto;
	display: inline-block;
}
#plab-menu img {
	padding: 0;
	margin: 0;
}
/* ----------------------- END MENU DEFINITIONS ----------------------- */
.plab-list ul {
	list-style-type: none;
	margin: 0.5ex 0;
}

#plab-content {
	display: none;
}

.plab #plab-content {
	display: block;
}

.plab #plab-canvas {
	display: none;
}

#plab-canvas {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

#plab-header {
	min-height: 19%;
	font-size: 150%;
	margin: 1ex;
}

#plab-status {
	min-height: 9%;
}

#plab-main {
	min-height: 49%;
}

#plab-footer {
	height: 19%;
}

.plab-panic {
	background-color: #ff4433;
	margin: 0.75ex 0;
	padding: 1ex;
}

.plab-intro-select .plab-connect,
.plab-intro-select .plab-user-select,
.plab-intro-select .plab-redirect {
	display: none;
}

.plab-connect-select .plab-intro,
.plab-connect-select .plab-user-select,
.plab-connect-select .plab-redirect {
	display: none;
}

.plab-user-select-select .plab-intro,
.plab-user-select-select .plab-connect,
.plab-user-select-select .plab-redirect {
	display: none;
}

.plab-redirect-select .plab-intro,
.plab-redirect-select .plab-user-select,
.plab-redirect-select .plab-connect {
	display: none;
}

.plab-init-select .plab-ready,
.plab-init-select .plab-failed {
	display: none;
}

.plab-ready-select .plab-init,
.plab-ready-select .plab-failed {
	display: none;
}

.plab-failed-select .plab-ready,
.plab-failed-select .plab-init {
	display: none;
}

.plab-init, .plab-warn {
	background-color: #eedd55;
}

.plab-ready, .plab-notify {
	background-color: #66ff77;
}

.plab-failed, .plab-err {
	background-color: #ff4433;
}

.plab-intro.plab-ready {
	background-color: inherit;
}

.plab button, .plab input {
	font-size: inherit;
	width: 95%;
	margin: 0.5ex 0;
	padding: 0.7ex;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
 
#plab-status {
	color: #000000;
	background-color: #ffffff;
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}

.plab-powered {
	font-size: 85%;
	color: #777777;
	padding: 1ex;
}
.plab-powered ul {
	list-style-type: none;
}
