* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* To level out some differences in device size and font size, these queries are added, with default */
.plab {
	font-size: 110%;
}
/* -------- Default right align and round images ------------ */
/* Placed at top to be overridden by device specific entries later*/
.plab img {
	border-radius: 7px;
	float: right;
	width: 40px;
	height: auto;
}

@media only screen and (min-width : 480px) {
	.plab {
		font-size: 140%;
	}
	.plab img {
		border-radius: 10px;
		width: 48px;
	}
}

@media only screen and (min-width : 768px) {
	.plab {
		font-size: 160%;
	}
	.plab img {
		border-radius: 12px;
		width: 56px;
	}
}

@media only screen and (min-width : 1024px) {
	.plab {
		font-size: 175%;
	}
	.plab img {
		border-radius: 15px;
		width: 64px;
	}
}
/* ----------------------- MAIN ELEMENT DEFINITIONS ----------------------- */
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.plab {
	background-color: #333333;
	color: #ddeeff;
    text-align: center;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/* ----------------------- END MAIN ELEMENT DEFINITIONS ----------------------- */

.plab-list ul {
	list-style-type: none;
	margin: 0.5ex 0;
}

#plab-content, #plab-menu {
	display: none;
}

.plab #plab-content, .plab #plab-menu {
	display: block;
}

#plab-canvas {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

.plab #plab-canvas {
	display: none;
}


#plab-header {
	min-height: 19%;
	font-size: 150%;
	margin: 1ex;
}

#plab-status {
	min-height: 9%;
}

#plab-main {
	margin-bottom: 1ex;
	min-height: 49%;
}

#plab-footer {
	height: 19%;
}

.plab-panic {
	background-color: #ff4433;
	margin: 0.75ex 0;
	padding: 1ex;
}

.plab-intro-select .plab-connect,
.plab-intro-select .plab-user-select,
.plab-intro-select .plab-redirect {
	display: none;
}

.plab-connect-select .plab-intro,
.plab-connect-select .plab-user-select,
.plab-connect-select .plab-redirect {
	display: none;
}

.plab-user-select-select .plab-intro,
.plab-user-select-select .plab-connect,
.plab-user-select-select .plab-redirect {
	display: none;
}

.plab-redirect-select .plab-intro,
.plab-redirect-select .plab-user-select,
.plab-redirect-select .plab-connect {
	display: none;
}

.plab-init-select .plab-ready,
.plab-init-select .plab-failed {
	display: none;
}

.plab-ready-select .plab-init,
.plab-ready-select .plab-failed {
	display: none;
}

.plab-failed-select .plab-ready,
.plab-failed-select .plab-init {
	display: none;
}

.plab-init, .plab-warn, .plab-wait {
	background-color: #eedd55;
}

.plab-ready, .plab-notify, .plab-ok {
	background-color: #66ff77;
}

.plab-failed, .plab-err {
	background-color: #ff4433;
}

.plab-intro.plab-ready {
	background-color: inherit;
}

.plab button, .plab input {
	width: 95%;
	margin: 0.5ex 0;
	padding: 0.7ex;
}

.plab button {
	font-size: 120%;
}

.plab input[type=checkbox] {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	margin: 0.7ex;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
 
#plab-status, #plab-sketch-locations {
	color: #000000;
	background-color: #ffffff;
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}

#plab-sketch-locations code {
	display: block;
}
#plab-sketch-locations div {
	margin: 0.1ex;
}
.plab-powered {
	font-size: 85%;
	color: #777777;
	padding: 1ex;
}
.plab-powered ul {
	list-style-type: none;
}

/* ----------------------- MENU DEFINITIONS ----------------------- */
#plab-menu {
	text-align: right;
}
#plab-menu ul {
	text-align: center;
	list-style-type: none;
	margin: 0.5ex 0;
	border-style: solid;
	border-width: medium;
	border-color: #666666;
	display: inline-block;
}
#plab-menu li {
	width: auto;
	height: auto;
	display: inline-block;
}
#plab-menu-setting img {
	float: none;
	padding: 0;
	margin: 0;
}
/* Default hide setting screen */
.plab-settings-menu {
	display: none;
}
/* Show menu and hide rest */
.plab-show-menu .plab-settings-menu {
	display: block;
}
.plab-show-menu #plab-content {
	display: none;
}

.plab-setting {
	border-style: solid;
	border-width: medium;
	border-color: #666666;
	padding: 0.5ex;
	/* TODO */
}

.plab-setting-description {
	font-size: 80%;
	font-style: italic;
}
/* ----------------------- END MENU DEFINITIONS ----------------------- */
/* ---------------- ADD PDE FILE HIDE / SHOW -------------------------- */
.plab-addfile-select #plab-addfile-button, .plab-addfile #plab-addfile-select{
	display: none;
}
/* ---------------- END ADD PDE FILE HIDE / SHOW ---------------------- */
/* ---------------- HIDE PROCESSING THROUGH WEB WHEN OFFLINE ---------- */
.plab-offline .plab-need-internet {
	display: none;
}
/* ---------------- END HIDE PROCESSING THROUGH WEB WHEN OFFLINE ------ */
/* ---------------- RERUN FORMATTING ---------------------------------- */
.plab-no-cache .plab-rerun {
	display: none;
}
.plab-rerun {
	padding-top: 0.9ex;
	padding-bottom: 0.5ex;
}
/* ---------------- END RERUN FORMATTING ------------------------------ */
/* ---------------- HIDE / SHOW BACK BUTTON --------------------------- */
.plab-back {
	display: block;
	position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
}

.plab .plab-back, .plab-hidden {
	display: none;
}
